/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  line-height: 1.5;
  padding: 0 1.5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

button {
  padding: 0.8rem;
  width: 50%;
  color: var(--black);
  cursor: pointer;
  background-color: var(--white);
  border: 2px solid var(--black);
}
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey-200: hsl(0, 0%, 85%);
}

/* style */

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

p,
nav,
footer ul {
  font-family: "Alata", sans-serif;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
}
li {
  list-style: none;
}

/* Style header */
header {
  position: relative;
  width: 100%;
}

.overlay-text-header {
  position: absolute;
  bottom: 43%;
  transform: none;
  color: var(--white);
  padding: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7rem;
}
header h2 {
  border: 2px solid var(--white);
  padding: 2rem;
  width: 100%;
  font-weight: 300;
}
header img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-text-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.overlay-text-header div img {
  width: auto;
  height: auto;
}
.burger {
  content: url("../images/icon-hamburger.svg");
}

.burger.is-open {
  content: url("../images/icon-close.svg");
}
.burger:hover {
  cursor: pointer;
}

.top-bar {
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-title {
  color: var(--white);
  position: relative;
  z-index: 31;
}

/* menu ouvert*/
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.mobile-menu ul li {
  color: var(--white);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

body.menu-open .mobile-menu {
  display: flex;
}
body.menu-open {
  overflow: hidden;
}

/* Style introducation */
.introduction img {
  width: 100%;
  height: auto;
}
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding-top: 4rem;
}


/* creation */
.creation img {
  width: 100%;
  height: auto;
  display: block;
}
.creation,
.creation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 4rem;
}
.creation h4 {
  text-align: left;
  font-weight: 300;
}

.creation h3 {
  padding-bottom: 1.5rem;
}
.overlay-text {
  position: absolute;
  bottom: 12%;
  left: 10%;
  color: var(--white);
  width: 130px;
  z-index: 2;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: left;
}

.creation article {
  position: relative;
  width: fit-content;
}
.creation article::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}

/* footer */
footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem 0 2rem;
}
footer p {
  color: var(--grey-200);
  padding-bottom: 1rem;
}
footer h3 {
  font-size: 2rem;
}

footer ul li p {
  color: var(--white);
}

.details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .overlay-text-header h2 {
    max-width: 500px;
  }
  .creation div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .creation article::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  }
  .creation {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .creation h3 {
  padding-bottom: 0;
  padding-right: 48rem;
}
  button {
    width: 10%;
  }
  .creation h3 {
    order: 1;
  }

  .creation button {
    order: 2;
  }

  .creation div {
    order: 3;
    width: 80%;
  }

  /* footer */
  footer {
    flex-direction: row;
    padding: 2rem 11%;
    justify-content: space-between;
  }
  footer div:first-of-type {
    text-align: left;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: baseline;
  }
  .logo {
    justify-content: end;
  }
}
